#account {
    min-height: calc(100vh - 140px - 160px - 75px);
}

#personal {
    background: var(--background-raise);
    padding: 4px;
    border-radius: var(--radius-level0);
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

#personal .text {
    padding: 8px 16px;
}

#personal .text p {
    margin-top: 10px;
}

#personal .buttons {
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: start;
}

#personal button,
.request button {
    padding: 8px 16px;
    border-radius: 8px;
}

#requests {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#requests-header {
    background: var(--background-raise);
    border-radius: var(--radius-level0);
    padding: 4px;
    width: calc(100% - 8px);
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#requests-header #filter {
    margin: 4px;
    padding: 8px 16px;
    padding-right: 36px;
    border-radius: var(--radius-level2);
    color: var(--foreground);
    background-color: var(--background);
    font-size: var(--font-size-buttons);
    border: none;
    appearance: none;
    background-image: url("../icons/reveal.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
    transition: .3s;
}

#requests-header #filter:hover {
    background-color: var(--background-raise2);
}

#requests-header #filter:active {
    background-color: var(--background-lower);
}

.request {
    width: calc(100% - 16px);
    background: var(--background-raise);
    padding: 8px;
    border-radius: var(--radius-level0);
    display: flex;
    justify-content: space-between;
}

.request .text {
    padding: 8px 16px;
}

#close-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000040;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

#close-modal .container {
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px 32px;
    border-radius: var(--radius-level0);
    background: var(--background);
}

#close-modal h2 {
    text-align: center
}

#close-modal form {
    display: flex;
    gap: 8px;
}
