/* Variables */

:root {
    /* background colors */
    --background: #282828;
    --background-lower: #1d2021;
    --background-raise: #32302f;
    --background-raise2: #504945;

    /* foreground colors */
    --foreground: #ebdbb2;
    --foreground-lower: #d5c4a1;
    --foreground-lower2: #bdae93;
    --foreground-raise: #fbf1c7;

    /* destructive colors */
    --destructive: #cc241d;
    --destructive-raise: #fb4934;
    --destructive-lower: #9d0006;

    /* debug colors */
    --debug: #d79921;
    --debug-raise: #fabd2f;
    --debug-lower: #b57614;

    /* font size */
    --font-size-heading1: 64px;
    --font-size-heading2: 36px;
    --font-size-subheadings: 16px;
    --font-size-text: 18px;
    --font-size-buttons: 16px;
    --font-size-hints: 14px;

    /* general radius */
    --radius-level0: 16px;
    /* inner blocks radius */
    --radius-level1: 12px;
    /* buttons radius */
    --radius-level2: 8px;
    /* other content radius */
    --radius-level3: 4px;

    /* button paddings */
    --button-padding: 12px 24px;
}

/* Fonts setup */

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("../fonts/inter.ttf"), format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("../fonts/inter-italic.ttf"), format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: local("JetBrains Mono"),
        url("../fonts/jetbrains-mono.ttf"), format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: local("JetBrains Mono"),
        url("../fonts/jetbrains-mono-italic.ttf"), format("truetype");
    font-style: italic;
}



/* Universal */

* {
    font-family: "Inter", Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: var(--background);
}

.container {
    margin-inline: auto;
    max-width: 1024px;
}

.placeholder-size,
#rickroll {
    height: calc(100vh - 100px - 160px);
}

section {
    margin-top: 75px;
}

header {
    width: 100vw;
    height: 100px;
}

footer {
    width: 100vw;
    height: 160px;
}

header .logo {
    width: 80px;
    height: 80px;
}

footer .logo {
    width: 128px;
    height: 128px;
}

header .logo img,
footer .logo img {
    width: inherit;
    height: inherit;
}

header .container,
footer .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-nav,
footer .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-nav {
    flex-direction: column;
    align-items: end;
}

section .container > h1 {
    margin-bottom: 50px;
}

h1,
h2,
h3,
p,
a,
label,
pre {
    color: var(--foreground);
    margin: 0;
}

h1 {
    font-family: "JetBrains Mono", "Courier New", Courier, monospace;
    font-weight: 700;
    font-size: var(--font-size-heading1);
}

h2 {
    font-family: "JetBrains Mono", "Courier New", Courier, monospace;
    font-weight: 700;
    font-size: var(--font-size-heading2);
}

h3 {
    font-family: "JetBrains Mono", "Courier New", Courier, monospace;
    font-weight: 700;
    font-size: var(--font-size-subheadings);
}

label {
    font-weight: 400;
    font-size: var(--font-size-buttons);
}

pre {
    font-family: "JetBrains Mono", "Courier New", Courier, monospace;
    font-weight: 400;
    font-size: 11px;
}

a,
p {
    font-size: var(--font-size-text);
}

a {
    transition: color 0.3s;
}

a.button,
button.button {
    display: block;
    padding: var(--button-padding);
    text-decoration: none;
    border-radius: var(--radius-level1);
    transition: background-color 0.3s;
    background: var(--background-raise);
    color: var(--foreground);
    border: 1px solid var(--background-raise);
    font-size: var(--font-size-buttons);
    font-weight: 700;
}

header a.button {
    margin-right: 12px;
}

a.button:hover,
b.button:hover {
    background: var(--background-raise2);
    border-color: var(--background-raise2);
    color: var(--foreground);
}

a.button:active,
b.button:active {
    background: var(--background-lower);
    border-color: var(--background-lower);
    color: var(--foreground);
}

a.header-nav-link,
a.footer-nav-link {
    text-decoration: none;
}

a.header-nav-link {
    margin-right: 12px;
}

a.account,
p.account {
    font-weight: 700;
    text-decoration: none;
}

p.account {
    margin-bottom: 12px;
    margin-right: 12px;
    font-size: 20px;
}

a.button.urgent,
button.button.urgent {
    background: var(--foreground);
    border-color: var(--foreground);
    color: var(--background);
}

a.button.urgent:hover,
button.button.urgent:hover {
    background: var(--foreground-raise);
    border-color: var(--foreground-raise);
    color: var(--background);
}

a.button.urgent:active,
button.button.urgent:active {
    background: var(--foreground-lower);
    border-color: var(--foreground-lower);
    color: var(--background);
}

a.header-nav-link:hover,
a.footer-nav-link:hover {
    color: var(--foreground-raise);
    text-decoration: underline;
}

a.header-nav-link:active,
a.footer-nav-link:active {
    color: var(--foreground-lower);
    text-decoration: underline;
}



/* Message handler */

.messages {
    position: fixed;
    bottom: var(--radius-level0);
    right: var(--radius-level0);
}

.messages div {
    margin-top: var(--radius-level0);
    padding: var(--radius-level0);
    border-radius: var(--radius-level0);
    background: var(--foreground);
    color: var(--background);
    font-family: "JetBrains Mono", "Courier New", Courier, monospace;
    font-weight: 400;
    font-size: var(--font-size-hints);
    max-width: 540px;
    transition: .3s;
}

.messages div:hover {
    background: var(--foreground-raise);
}

.messages div:active {
    background: var(--foreground-lower);
}

.messages div.debug {
    background: var(--debug);
    color: var(--foreground);
}

.messages div.debug:hover {
    background: var(--debug-raise);
}

.messages div.debug:active {
    background: var(--debug-lower);
}

.messages div.error {
    background: var(--destructive);
    color: var(--foreground);
}

.messages div.error:hover {
    background: var(--destructive-raise);
}

.messages div.error:active {
    background: var(--destructive-lower);
}



/* 404 */

#not-found {
    margin-top: 200px;
    height: calc(100vh - 200px - 100px - 160px);
}

#not-found .container {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    align-items: center;
}

#not-found h1,
#not-found h3 {
    width: 540px;
}

#not-found p {
    margin-top: 75px;
    margin-bottom: 24px;
}



/* Authentication */

#auth {
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: calc(100vh - 50px - 50px - 100px - 160px);
}

#auth .container {
    background: var(--background-raise);
    border-radius: var(--radius-level0);
    max-width: 540px;
}

#auth .container form {
    max-width: 524px;
    padding: 8px;
    display: none;
    flex-direction: column;
    align-items: center;
}

#auth h1 {
    text-align: center;
    margin: 20px 0;
}

#auth .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#auth .input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#auth #reg .row:first-of-type .input {
    width: calc(50% - 4px);
}

#auth form label {
    margin: 12px 0 6px 0;
}

#auth input {
    padding: 8px 16px;
    background: var(--background-lower);
    color: var(--foreground);
    border: 1px solid var(--background-lower);
    border-radius: var(--radius-level2);
    font-size: var(--font-size-buttons);
    transition:
        background-color 0.3s,
        border-color 0.3s;
}

#auth input:user-invalid {
    border-color: var(--destructive);
}

#auth input:hover {
    border-color: var(--background);
    background: var(--background);
}

#auth input[type="text"]:focus,
#auth input[type="email"]:focus,
#auth input[type="password"]:focus {
    border-color: var(--background-raise2);
    background: var(--background-raise2);
}

#auth input[type="checkbox"] {
    appearance: none;
    position: relative;
    padding: 0;
    margin-left: 0;
    width: 30px;
    height: 30px;
}

#auth #reg .row:last-of-type .input {
    flex-direction: row;
    align-items: center;
    /* margin: 10px 0 10px 0; */
    margin-top: 10px;
}

#auth #reg .row:last-of-type label {
    margin: 0 0 0 6px;
}

#auth input[type="checkbox"]:checked {
    background: var(--background-raise2);
    border-color: var(--background-raise2);
}

#auth input[type="checkbox"]::after {
    display: block;
    content: "\2714";
    position: absolute;
    top: -2px;
    left: 4px;
    width: 30px;
    height: 30px;
    font-size: 26px;
    color: transparent;
    transition: background-color 0.3s;
}

#auth input[type="checkbox"]:checked::after {
    color: var(--foreground);
}

#auth input[type="submit"] {
    margin-top: calc(20px + 12px + 6px);
    width: 100%;
    background: var(--foreground);
    color: var(--background);
}

#auth input[type="submit"]:hover {
    background: var(--foreground-raise);
}

#auth input[type="submit"]:active {
    background: var(--foreground-lower);
}

#auth .auth-switcher {
    width: fit-content;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 4px;
    height: calc(80px - 24px - 4px);
}

#auth .auth-switcher button {
    background: transparent;
    border: none;
    color: var(--foreground-lower2);
    font-family: "JetBrains Mono", "Courier New", Courier, monospace;
    font-size: var(--font-size-subheadings);
    font-weight: 700;
    margin-left: 24px;
    margin-top: 14.5px;
    margin-bottom: 14.5px;
    transition: .3s;
    padding-bottom: 2px;
}

#auth .auth-switcher button:first-child {
    margin-left: 0;
}

#auth .auth-switcher button:hover {
    color: var(--foreground-lower);
    margin-top: calc(14.5px / 2);
    margin-bottom: calc(14.5px / 2);
    font-size: calc(var(--font-size-subheadings) + (var(--font-size-heading2) - var(--font-size-subheadings)) / 2);
}

#auth .auth-switcher button.opened {
    color: var(--foreground);
    font-size: var(--font-size-heading2);
    border-bottom: 2px solid var(--foreground);
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}



/* Main page contents */

#banner {
    height: 500px;
}

#banner .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .column {
    width: calc(50% - 16px);
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#banner img {
    height: calc(300px - 16px);
    display: block;
    margin: auto;
}

#banner h1 {
    margin-bottom: 16px;
}

#banner p {
    width: 100%;
    margin-bottom: 24px;
}

#advantages .advantages-grid {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 4px));
    gap: 8px;
}

#advantages .advantage {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    background: var(--background-raise);
    border-radius: var(--radius-level0);
}

#advantages .advantage .icon {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    margin: 8px;
    margin-right: 12px;
}

#advantages .advantage .icon img {
    width: inherit;
    height: inherit;
}

#hostings-slider .hostings-slider {
    margin: 0 auto;
    height: 240px;
    width: inherit;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    border-radius: var(--radius-level0);
    display: flex;
    flex: none;
    scrollbar-width: none;
}

#hostings-slider .hostings-slider .hosting-wrap {
    scroll-snap-align: center;
    margin: 0 121px;
}

#hostings-slider .hostings-slider .hosting-wrap:first-of-type {
    margin-left: 242px;
}

#hostings-slider .hostings-slider .hosting-wrap:last-of-type {
    margin-right: 242px;
}

#hostings-slider .hostings-slider .hosting {
    padding: 24px 16px 32px 16px;
    width: 508px;
    height: 184px;
    border-radius: var(--radius-level0);
    background: var(--background-raise);
}

#hostings-slider .hostings-slider-controls {
    width: 540px;
    margin: 8px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

#hostings-slider .hostings-slider-controls button {
    width: calc(50% - 4px);
}

#hostings-slider .hostings-slider-controls button img {
    width: 32px;
}
