/* Variables */

:root {
    /* background colors */
    --background: #282828;
    --background-lower: #1d2021;
    --background-raise: #32302f;
    --background-raise2: #504945;

    /* foreground colors */
    --foreground: #ebdbb2;
    --foreground-lower: #d5c4a1;
    --foreground-lower2: #bdae93;
    --foreground-raise: #fbf1c7;

    /* destructive colors */
    --destructive: #cc241d;
    --destructive-raise: #fb4934;
    --destructive-lower: #9d0006;

    /* font size */
    --font-size-heading1: 64px;
    --font-size-heading2: 36px;
    --font-size-subheadings: 16px;
    --font-size-text: 18px;
    --font-size-buttons: 16px;
    --font-size-hints: 10px;

    /* general radius */
    --radius-level0: 16px;
    /* inner blocks radius */
    --radius-level1: 12px;
    /* buttons radius */
    --radius-level2: 8px;
    /* other content radius */
    --radius-level3: 4px;

    /* button paddings */
    --button-padding: 12px 24px;
}

/* Fonts setup */

@font-face {
    font-family: "Inter";
    src: local('Inter'),
        url('../fonts/inter.ttf'), format('truetype');
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'),
        url('../fonts/inter-italic.ttf'), format('truetype');
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: local('JetBrains Mono'),
        url('../fonts/jetbrains-mono.ttf'), format('truetype');
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: local('JetBrains Mono'),
        url('../fonts/jetbrains-mono-italic.ttf'), format('truetype');
    font-style: italic;
}



/* Universal */

* {
    font-family: "Inter", Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: var(--background);
}

.container {
    margin-inline: auto;
    width: 1024px;
}

header {
    width: 100vw;
    height: 100px;
}

footer {
    width: 100vw;
    height: 160px;
}

header .logo {
    width: 80px;
    height: 80px;
}

footer .logo {
    width: 128px;
    height: 128px;
}

header .logo img,
footer .logo img {
    width: inherit;
    height: inherit;
}

header .container,
footer .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-nav,
footer .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-nav {
    flex-direction: column;
    align-items: end;
}

section .container > h1 {
    margin-top: 50px;
}

h1, h2, h3, p, a, label {
    color: var(--foreground);
    margin: 0;
}

h1 {
    font-family: "JetBrains Mono", 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: var(--font-size-heading1);
}

h2 {
    font-family: "JetBrains Mono", 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: var(--font-size-heading2);
}

h3 {
    font-family: "JetBrains Mono", 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: var(--font-size-subheadings);
}

label {
    font-weight: 400;
    font-size: var(--font-size-buttons);
}

a, p {
    font-size: var(--font-size-text);
}

a {
    transition: color .3s;
}

a.button,
button.button {
    display: block;
    padding: var(--button-padding);
    text-decoration: none;
    border-radius: var(--radius-level1);
    transition: background-color .3s;
    background: var(--background-raise);
    font-size: var(--font-size-buttons);
    font-weight: 700;
}

header a.button {
    margin-right: 12px;
}

a.button:hover,
b.button:hover {
    background: var(--background-raise2);
    color: var(--foreground);
}

a.button:active,
b.button:active {
    background: var(--background-lower);
    color: var(--foreground);
}

a.header-nav-link,
a.footer-nav-link {
    text-decoration: none;
    margin-right: 12px;
}

a.account,
p.account {
    font-weight: 700;
    text-decoration: none;
}

p.account {
    margin-bottom: 12px;
    font-size: 20px;
}

a.button.urgent,
button.button.urgent {
    background: var(--foreground);
    color: var(--background);
}

a.button.urgent:hover,
button.button.urgent:hover {
    background: var(--foreground-raise);
    color: var(--background);
}

a.button.urgent:active,
button.button.urgent:active {
    background: var(--foreground-lower);
    color: var(--background);
}

a.header-nav-link:hover,
a.footer-nav-link:hover {
    color: var(--foreground-raise);
    text-decoration: underline;
}

a.header-nav-link:active,
a.footer-nav-link:active {
    color: var(--foreground-lower);
    text-decoration: underline;
}



/* 404 */

#not-found {
    margin-top: 200px;
    height: calc(100vh - 200px - 100px - 160px);
}

#not-found .container {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    align-items: center;
}

#not-found h1,
#not-found h3 {
    width: 540px;
}

#not-found p {
    margin-top: 75px;
    margin-bottom: 24px;
}

/* Authentication */

#auth {
    margin-top: 200px;
    height: calc(100vh - 200px - 100px - 160px);
}

#auth .container {
    max-width: 524px;
    background: var(--background-raise);
    border-radius: var(--radius-level0);
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#auth h1 {
    text-align: center;
    margin: 20px 0;
}

#auth .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#auth .input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#auth .row:first-of-type .input {
    width: calc(50% - 4px);
}

#auth label {
    margin: 12px 0 6px 0;
}

#auth input {
    padding: 8px 16px;
    background: var(--background-lower);
    color: var(--foreground);
    border: 1px solid var(--background-lower);
    border-radius: var(--radius-level2);
    font-size: var(--font-size-buttons);
    transition: background-color .3s, border-color .3s;
}

#auth input:user-invalid {
    border-color: var(--destructive);
}

#auth input:hover {
    border-color: var(--background);
    background: var(--background);
}

#auth input[type="text"]:focus,
#auth input[type="email"]:focus,
#auth input[type="password"]:focus {
    border-color: var(--background-raise2);
    background: var(--background-raise2);
}

#auth input[type="checkbox"] {
    appearance: none;
    position: relative;
    padding: 0;
    margin-left: 0;
    width: 30px;
    height: 30px;
}

#auth .row:last-of-type .input {
    flex-direction: row;
    align-items: center;
    margin: 10px 0 10px 0;
}

#auth .row:last-of-type label {
    margin: 0 0 0 6px;
}

#auth input[type="checkbox"]:checked {
    background: var(--background-raise2);
    border-color: var(--background-raise2);
}

#auth input[type="checkbox"]::after {
    display: block;
    content: "\2714";
    position: absolute;
    top: -2px;
    left: 4px;
    width: 30px;
    height: 30px;
    font-size: 26px;
    color: transparent;
    transition: background-color .3s;
}

#auth input[type="checkbox"]:checked::after {
    color: var(--foreground);
}

#auth input[type="submit"] {
    width: 100%;
    background: var(--foreground);
    color: var(--background);
}

#auth input[type="submit"]:hover {
    background: var(--foreground-raise);
}

#auth input[type="submit"]:active {
    background: var(--foreground-lower);
}



/* Main page contents */

#banner {
    height: 500px;
}

#banner .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .column {
    width: calc(50% - 16px);
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#banner img {
    height: calc(300px - 16px);
    display: block;
    margin: auto;
}

#banner h1 {
    margin-bottom: 16px;
}

#banner p {
    width: 100%;
    margin-bottom: 24px;
}



#advantages .advantages-grid {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 4px));
    gap: 8px;
}

#advantages .advantage{
    display: flex;
    justify-content: space-between;
    padding: 4px;
    background: var(--background-raise);
    border-radius: var(--radius-level0);
}

#advantages .advantage .icon {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    margin: 8px;
    margin-right: 12px;
}

#advantages .advantage .icon img {
    width: inherit;
    height: inherit;
}



#hostings-slider .hostings-slider {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

#hostings-slider .hostings-slider .hosting {
    scroll-snap-align: center;
    width: inherit;
    height: fit-content;
    margin: 0 40px;
    border-radius: var(--radius-level0);
    background: var(--background-raise);
}
