<section id="advantages">
    <div class="container">
        <h1>Почему мы?</h1>
        <div class="advantages-grid">
            <div class="advantage">
                <div class="icon">
                    <!-- <img src="" alt=""> -->
                    <img src="../../media/placeholders/square-placeholder.svg" alt="Заглушка">
                </div>
                <div class="text-box">
                    <h2>Заглушка</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus labore dolore omnis, eius, quibusdam neque, velit nobis fugiat porro excepturi possimus! Libero reiciendis ex incidunt aspernatur cumque molestiae quasi. Laborum?</p>
                </div>
            </div>
            <div class="advantage">
                <div class="icon">
                    <!-- <img src="" alt=""> -->
                    <img src="../../media/placeholders/square-placeholder.svg" alt="Заглушка">
                </div>
                <div class="text-box">
                    <h2>Заглушка</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas adipisci repudiandae corrupti quis dignissimos reprehenderit officia sequi optio eum est nemo quidem accusantium, ex libero quaerat quod beatae magni ab.</p>
                </div>
            </div>
            <div class="advantage">
                <div class="icon">
                    <!-- <img src="" alt=""> -->
                    <img src="../../media/placeholders/square-placeholder.svg" alt="Заглушка">
                </div>
                <div class="text-box">
                    <h2>Заглушка</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi tenetur ad dolor officiis nostrum non vel. A doloribus sunt blanditiis sapiente, quis cum in, nostrum corrupti facere quibusdam nihil iure.</p>
                </div>
            </div>
            <div class="advantage">
                <div class="icon">
                    <!-- <img src="" alt=""> -->
                    <img src="../../media/placeholders/square-placeholder.svg" alt="Заглушка">
                </div>
                <div class="text-box">
                    <h2>Заглушка</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, voluptates repellendus. Facere incidunt fuga distinctio molestias reiciendis rem cumque vel doloremque laudantium voluptates ab, maiores tenetur! Quisquam deleniti rem totam!</p>
                </div>
            </div>
            <div class="advantage">
                <div class="icon">
                    <!-- <img src="" alt=""> -->
                    <img src="../../media/placeholders/square-placeholder.svg" alt="Заглушка">
                </div>
                <div class="text-box">
                    <h2>Заглушка</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, similique dicta, laborum nesciunt veniam eligendi hic alias esse est consectetur deserunt quis nobis delectus saepe! Perferendis possimus perspiciatis cumque minus!</p>
                </div>
            </div>
            <div class="advantage">
                <div class="icon">
                    <!-- <img src="" alt=""> -->
                    <img src="../../media/placeholders/square-placeholder.svg" alt="Заглушка">
                </div>
                <div class="text-box">
                    <h2>Заглушка</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem blanditiis ipsa repudiandae hic itaque ex odio harum vel, vero adipisci, similique, vitae nobis dolor praesentium numquam. Accusamus sapiente laboriosam dolorum!</p>
                </div>
            </div>

        </div>
    </div>
</section>
