<section id="account" class="placeholder-size">
    <div class="container">
        <div id="personal">
            <div class="text">
                <h1>Фамилия Имя</h1>
                <h2>Почта@хз.com</h2>
                <p>Привелегии: </p>
            </div>
            <div class="buttons">
                <button class="button urgent" onclick="window.location = '/requests/new'">Новая заявка</button>
            </div>
        </div>

        <div id="requests">
            <div class="requests-header">

            </div>
            <div class="request">
                <div class="text">
                    <h2>Заявка 1</h2>
                </div>
                <div class="buttons">
                    <button class="button urgent">[eq</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="module" src="<?= $this->media_folder ?>/js/account.js"></script>
