<section id="advantages">
    <div class="container">
        <h1>Наши преимущества</h1>
        <div class="advantages-grid">
            <div class="advantage">
                <div class="icon">
                    <!-- <img src="" alt=""> -->
                    <img src="../../media/placeholders/square-placeholder.svg" alt="Заглушка">
                </div>
                <div class="text-box">
                    <h2>Заглушка</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi facere harum maxime quis nesciunt commodi, laboriosam dignissimos itaque explicabo iste beatae ex, recusandae culpa quisquam reprehenderit pariatur expedita omnis. Eum?</p>
                </div>
            </div>
            <div class="advantage">
                <div class="icon">
                    <!-- <img src="" alt=""> -->
                    <img src="../../media/placeholders/square-placeholder.svg" alt="Заглушка">
                </div>
                <div class="text-box">
                    <h2>Заглушка</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi facere harum maxime quis nesciunt commodi, laboriosam dignissimos itaque explicabo iste beatae ex, recusandae culpa quisquam reprehenderit pariatur expedita omnis. Eum?</p>
                </div>
            </div>
            <div class="advantage">
                <div class="icon">
                    <!-- <img src="" alt=""> -->
                    <img src="../../media/placeholders/square-placeholder.svg" alt="Заглушка">
                </div>
                <div class="text-box">
                    <h2>Заглушка</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi facere harum maxime quis nesciunt commodi, laboriosam dignissimos itaque explicabo iste beatae ex, recusandae culpa quisquam reprehenderit pariatur expedita omnis. Eum?</p>
                </div>
            </div>
            <div class="advantage">
                <div class="icon">
                    <!-- <img src="" alt=""> -->
                    <img src="../../media/placeholders/square-placeholder.svg" alt="Заглушка">
                </div>
                <div class="text-box">
                    <h2>Заглушка</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi facere harum maxime quis nesciunt commodi, laboriosam dignissimos itaque explicabo iste beatae ex, recusandae culpa quisquam reprehenderit pariatur expedita omnis. Eum?</p>
                </div>
            </div>
            <div class="advantage">
                <div class="icon">
                    <!-- <img src="" alt=""> -->
                    <img src="../../media/placeholders/square-placeholder.svg" alt="Заглушка">
                </div>
                <div class="text-box">
                    <h2>Заглушка</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi facere harum maxime quis nesciunt commodi, laboriosam dignissimos itaque explicabo iste beatae ex, recusandae culpa quisquam reprehenderit pariatur expedita omnis. Eum?</p>
                </div>
            </div>
            <div class="advantage">
                <div class="icon">
                    <!-- <img src="" alt=""> -->
                    <img src="../../media/placeholders/square-placeholder.svg" alt="Заглушка">
                </div>
                <div class="text-box">
                    <h2>Заглушка</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi facere harum maxime quis nesciunt commodi, laboriosam dignissimos itaque explicabo iste beatae ex, recusandae culpa quisquam reprehenderit pariatur expedita omnis. Eum?</p>
                </div>
            </div>
        </div>
    </div>
</section>
