<section id="banner">
    <div class="container">
        <div class="column">
            <h1>Аренда хостинга</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit earum repellat magnam dolorum in. Quam nemo beatae illum aliquid. Harum possimus sed culpa, hic cum ducimus ipsam esse. Pariatur, iste.</p>
            <a class="button" href="/requests/new">Оставить заявку</a>
        </div>
        <div class="column">
            <img src="<?= $this->media_folder ?>/placeholders/square-placeholder.svg" alt="Аренда хостинга">
            <!-- <img src="" alt="аренда хостинга"> -->
        </div>
    </div>
</section>
