<footer>
    <div class="container">
        <div class="column">
            <a href="/" class="logo"><img src="<?= $this->media_folder ?>/placeholders/square-placeholder.svg" alt="<?= $this->website_name; ?>"></a>
        </div>
        <div class="column">
            <nav class="footer-nav">
                <p>Навигация</p>
                <a href="/about" class="footer-nav-link">О нас</a>
                <a href="/hostings" class="footer-nav-link">Хостинги</a>
            </nav>
            <nav class="account-nav"></nav>
        </div>
    </div>
</footer>

<script type="module" src="<?= $this->media_folder ?>/js/footer.js"></script>
