<header>
    <div class="container">
        <a href="../" class="logo">
        <img src="../../media/placeholders/square-placeholder.svg" alt="<?= $this->website_name ?>">
            <!-- <img src="" alt="Логотип"> -->
        </a>
        <nav class="header-nav">
            <a class="header-nav-link" href="../../about">О нас</a>
            <a class="header-nav-link" href="../../hostings">Хостинги</a>
        </nav>
        <nav class="account-nav">

        </nav>
    </div>
</header>

<script type="module" src="<?= $this->media_folder ?>/js/header.js"></script>
